* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #e1e0e0;
    color: #909090;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: #fff;
    color: #909090;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-right {
    margin-left: auto;
}

/* button */

.sidebar-expand .sidebar {
    width: 250px;
}

/* .sidebar-expand .wrapper {
  margin-left: 250px;
} */

.sidebar {
    width: 250px;
    position: fixed;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    overflow: hidden;
    z-index: 1000;
    transition: width 0.5s;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    padding-left: 25px;
    display: flex;
    align-items: center;
    color: #909090;
    text-decoration: none;
}

.sidebar-nav-link div {
    min-width: 50px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: #76bbe9;
}

.close_sidebar {
    display: none;
}

/* chih */
.sidebar-nav-link:active {
    background: #54b3d8;
    color: #eb4d4b;
}

/* chinh * */
.wrapper {
    padding: 10px;
    margin-left: 250px;
    padding-top: 140px;
    transition: margin-left 0.5s;
}

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.card-header {
    padding: 15px 30px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

.card-content {
    padding: 20px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    display: table-header-group;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    font-weight: bold;
    text-align: -internal-center;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table td {
    border-top: 1px solid #f1f1f1;
    padding: 15px;
}

.sidebar-nav-link div {
    padding-top: 11px;
}
.sidebar-nav-link div svg {
    color: #000;
}

.w3-panel{
    display:none;
    position:fixed;
    right:20px;
    animation: mymove 3s infinite;
    z-index: 100000000;
}
.remove_item svg:hover{
    color : #eb4d4b;
}

#errorMs {
    color: #a00;
}
.gallery img{
    width: 300px;
}
@keyframes mymove {
    from {top: -300px;opacity: 0;}
    to {top: 100px;opacity: 1;display:none;}
}
/* Extra small "devices" <= 600px*/
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }
    .wrapper {
        margin-left: 0;
    }
    .nav-right .nav-item {
        display: none;
    }
    .close_sidebar {
        display: block;
    }
}