body {
    margin: 0;
    padding: 0;
    background: #d3d3d3;
    background-position: center;
}
.login-box {
    width: 500px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}

h1 {
    margin: 0;
    padding: 0 0 60px;
    text-align: center;
    font-size: 22px;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: #fffaf0;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
#form_submit {
    border: none;
    outline: none;
    height: 40px;
    background: #f4a460;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 40%;
    padding: 1px 6px;
}
#form_submit:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #1c8adb;
}
.login-box a:hover {
    color: #39dc79;
}

.toggle {
    padding: 0 0 30px;
    display: inline-block;
    height: 17px;
    position: relative;
    width: 100px;
}
.toggle input[type="checkbox"] {
    display: none;
}
.toggle .slider {
    float: left;
    background-color: #ccc;
    cursor: pointer;
    width: 30px;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 25px;
}
.toggle .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
    border-radius: 25px;
}
.toggle input[type="checkbox"]:checked + .slider {
    background-color: #07a787;
}
.toggle input[type="checkbox"]:checked + .slider:before {
    transform: translateX(13px);
}

#save{
    font-size: 10px;
    padding: 0 0 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.notification{
    display:none;
    color:red;
}
